body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 95vw;
  height: 95vh;
  border: 2px solid black;
  background-color: silver;
}

#top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  border: 2px solid black;
}

#top > * {
  flex: 1;
}

#hdSquareHolder {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
}

#hdSquare {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: orange;
  margin-right: 20px;
  height: 200px;
  aspect-ratio: 1 / 1;
}

#hdSquare > p {
  text-shadow: 0 0 2px #DDD;
  transform: rotate(-45deg);
  color: white;
  margin-top: -10px;
  font-weight: 800;
  font-size: 50px;
  font-family: Impact;
}

#middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 20px 0 20px 0;
  border: 2px solid black;
}

#bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  border: 2px solid black;
  /* background-color: green; */
}

#top,
#middle,
#bottom {
  background-color: Gainsboro;
}

#left,
#center,
#right {
  padding: 20px 20px 20px 20px;
  margin: 20px 0 20px 0;
  border: 2px solid black;
  background-color: WhiteSmoke;
}
